@import '/node_modules/zoomist/zoomist.css'; 
@import '/node_modules/apexcharts/dist/apexcharts.css'; 
@import '/node_modules/glightbox/dist/css/glightbox.css';
@import '/node_modules/suneditor/dist/css/suneditor.min.css';

html {
  scroll-padding-top: 4rem;
}

.top-wallpaper {
  background-image: url('/public/top-wallpaper-small.jpg');
  background-size: cover;
  background-position: center;
  height: 180px;
}

body {
  background-image: url('/public/web-background-light.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

#cookie-consent-banner {
  z-index: 9999;
  opacity: 0.9;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
}

.navbar {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
